python-dotenv==1.1.1
structlog==25.4.0

# LangChain
langchain==0.3.27
langchain-community==0.3.27
langchain-core==0.3.72
langchain-text-splitters==0.3.9

# LangSmith
langsmith==0.10.10
openevals

# LLMs
langchain-google-genai==2.1.8
langchain-groq==0.3.6
langchain-openai==0.3.17
openai

# Documents & Vector Store
faiss-cpu
pypdf==5.0.0
docx2txt==0.9

# FastAPI
fastapi==0.115.6
uvicorn==0.32.1
python-multipart==0.0.20
Jinja2==3.1.4

# Utilities
PyYAML
pandas
ipykernel==6.30.0